<mat-spinner class="mx-auto" style="margin-top: 15px" [diameter]="50" [style.display]="!prescriptionLoaded ? 'block' : 'none'"></mat-spinner>
<div *ngIf="prescriptionLoaded">
  <div>
    <span class="field-title">
      Id:
    </span>
    <span class="field-value">
        {{prescription.id}}
    </span>
  </div>
  <div>
    <span class="field-title">
      Date:
    </span>
    <span class="field-value">
        {{prescription.date}}
    </span>
  </div>
  <div>
    <span class="field-title">
      Medications:
    </span>
    <span class="field-value">
        {{prescription.medications}}
    </span>
  </div>
  <div>
    <span class="field-title">
      Medic:
    </span>
    <span class="field-value">
        {{prescription.medic}}
    </span>
  </div>
  <div>
    <span class="field-title">
      Diagnosis:
    </span>
    <span class="field-value">
        {{prescription.diagnosis}}
    </span>
  </div>
</div>