<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title>
      Register
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Full Name" [(ngModel)]="newUser.fullName" type="text" name="fullname"
          required>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Age" [(ngModel)]="newUser.age" type="number" name="age" required>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Email" [(ngModel)]="newUser.email" name="email" required>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Password" [(ngModel)]="newUser.password" type="password" name="password" required>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Confirm password" [(ngModel)]="confirmedPassword" type="password" name="confirmedPassword"
          required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="showSpinner" class="mx-auto" (click)="register()" color="primary">Register</button>
    <div style="margin-top: 20px; font-size: 14px">
      <a href="/login"> I already have an account </a>
    </div>
    <mat-spinner class="mx-auto" [style.display]="showSpinner ? 'block' : 'none'" [diameter]="30"></mat-spinner>
  </mat-card-actions>
</mat-card>